  .form-auth{
    width: 60%;
    height: 45%;
    // border-color: white;
    background-color: #F5F5F5;
  }
  div{
    &.form_auth_row{
      margin-top: 30px;
    }
  }
  
  button{
    &.btn-primary{
        margin-top: 20px;
      margin-left: 20px;
      color: white;
      background-color: #00008B;
    }
  }